.kaufman__triangle {
  background: url(../../../images/kaufman/kaufman-triangle.svg);
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}
